header.header
   ._container.header-container
      .header__logo
         img.header__logo--image(src='images/logo.jpg' alt='logo')
      .header__search.search
         input.search__input(placeholder='Search')
         button.search__btn--search
            i.fas.fa-search
         button.search__btn--microphone.grey-icon.icon-size
            i.fas.fa-microphone
      .header__user.user
         button.user__bell
            span.grey-icon.icon-size
               i.fas.fa-bell
         include profile