ul.user__menu.user-menu
    button.user-menu__btn
        i.fas.fa-paw
    ul.user-menu__list
        each item in [{text: 'Profile', icon: 'fas fa-paw'}, {text:'Settings', icon: 'fas fa-cog'}, {text:'Log Out', icon: 'fas fa-sign-out-alt'}]
            li.user-menu__list--item
                a(href='#').user-menu__list--link
                    i(class=item.icon)
                    span.user-menu__list--text=item.text

