// variables

main-color = black
button-color = orange
bg-color = #EBEBEB
border-color = #C1C1C1
color-hover-gray = #606060

header-height = 66px

// global styles

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

html
   box-sizing border-box
   font-family Arial sans-serif

*, *:before, *:after 
   box-sizing inherit

.grey-icon
   color border-color

.icon-size
   font-size: 22px

body
   display flex
   flex-direction column
   min-height 100vh
   justify-content space-between

::selection
   background-color button-color
   color #fff

._container
   padding: 0 10px