.header
   .header-container
      display flex
      justify-content space-between
      width: 100%
      height header-height
      position fixed
      align-items center
      background-color #fff
      border-bottom 2px solid border-color
      box-shadow: 0 2px 6px 0 border-color
      z-index 999

      &__logo
         display flex
         justify-content center
         align-items center
         color button-color

      .search
         display flex
         justify-content center
         align-items center
         height 30px

         &__input
            border-radius 6px 0 0 6px
            border 1px solid border-color
            height 100%
            &::placeholder
               padding-left 10px
            &:focus-visible
               border none
               height calc(100% - 2px)
               padding-right 4px
               outline 1px solid deepskyblue

         &__btn--search
            background-color bg-color
            display flex
            justify-content center
            align-items center
            cursor pointer
            width 33px
            height 100%
            border-radius 0 6px 6px 0
            border 1px solid border-color

         &__btn--microphone
            background-color transparent
            margin-left 10px
            border none
            cursor pointer
            &:hover
               color color-hover-gray

      .user
         display flex
         justify-content center
         align-items center

         &__bell
            cursor pointer
            border none
            background none
            width 40px
            height 40px
            :hover
               color color-hover-gray

         .user-menu
            display flex
            justify-content center
            align-items center
            position relative
            padding-left 0

            &__list
               position absolute
               list-style none
               width 160px
               top 100%
               right 0
               background-color #fff
               font-size 18px
               border 1px solid border-color
               border-radius 6px
               padding 0
               visibility hidden
               display none
               opacity 0


               &--item:last-child a
                  color #FF0000
                  border-top 1px solid border-color

               &--link
                  display flex
                  padding 8px
                  gap 6px
                  text-decoration none
                  color #333330
                  transition background-color .3s ease-in
                  &:hover
                     background-color bg-color

            &:hover > ul
               visibility visible
               opacity 1
               display block

            &__btn
               width 40px
               height 40px
               cursor pointer
               background-color button-color
               border none
               border-radius 50%
               transition background-color .3s ease-in
               &:hover
                  background-color bg-color
