.main
   .main-container
      display flex
      padding-top header-height
      max-width 100vw
      overflow-x hidden
      min-height 100vh

      .sidebar
         background-color bg-color
         flex 0 1 20%

      .content
         display flex
         flex-direction column
         flex 0 0 80%
         width 80%
         min-height 100vh
         .categories
            display flex
            height: 80px
            overflow hidden
            position relative

            .categories__list
               display flex
               overflow-x auto
               gap 10px
               list-style none

               .category__item
                  text-align center

                  &--link
                     display block
                     min-width 40px
                     color main-color
                     border 1px solid border-color
                     background bg-color
                     border-radius 14px
                     text-decoration none
                     padding 5px 10px
                     white-space nowrap
                     min-height 10px

         .carousel
            width 100%
            height: 400px
            background-color orange


         .streams

            .stream
               display: flex
               justify-content space-between
               align-items center
               list-style none
               flex-wrap wrap
               width: 100%

               &__item
                  display block
                  flex 0 0 33.33333%

         .footer
            flex-grow 1
            display flex
            justify-content center
            align-items center
            width: 100%
