.sidebar
   box-shadow: -20px 0px 0px 0px bg-color
   display flex
   flex-direction column

   .streamers
      list-style none
      flex-grow 1
      margin 16px
      padding 0
      border-bottom 1px solid #fff

      .streamer
         display flex
         color main-color
         text-decoration none
         justify-content space-between
         align-items center

         &__avatar
            width 40px
            height 40px
            background-color button-color
            border-radius 50%
            margin-right 12px

         &__name
            @media (max-width: 1100px)
               display none

         &__watching-count
            flex-grow 1
            text-align right

   .contacts
      width 208px
      height 115px
      background-color #dfdfdf
      display flex
      justify-content center
      align-items center
      flex-direction column

      &__title
         text-align center

      .social
         list-style none
         display flex
         justify-content center
         align-items center
         margin 0
         padding 0
         width 100%

         &__item

            &--link
               color main-color
               display inline-flex
               text-decoration none
               justify-content center
               align-items center
               width: 40px
               height: 40px
               font-size: 24px
               &:hover
                  color deepskyblue