ul.categories__list
    each category in ['All', 'Food', 'Music', 'Humans', 'Games', 'Computers', 'Comedies', 'Apartments', 'Politics', 'Fashion', 'Cooking show', 'Swimming', 'Human fun videos', 'Movies', 'Serials']
        li.category__item
            a(href="#").category__item--link= category