main.main
   ._container.main-container
      aside.sidebar
         include sidebar
      section.content
         .categories
            include categories
         .carousel
            include carousel
         .streams
            include streams
         .footer
            include ../footer/footer
