ul.streamers
   each name in ['ChuChu', 'Coco', 'LaLa', 'MoMo', 'TT', 'NaNa', 'ToTo']
      li.streamers__item.item__streamer
         a(href="#").item__streamer.streamer
            img.streamer__avatar
            span.streamer__name= name
            span.streamer__watching-count 5.3K

section.contacts
   h3.contacts__title Join the Bulka's community!
   ul.contacts__list.social
      each contact in ['fab fa-telegram', 'fab fa-instagram', 'fab fa-facebook']
         li.social__item
            a(href="#").social__item--link
               i(class=contact)