ul.streams__list.stream
    li.stream__item
        img.stream__item--img(src='images/stream_photo.jpg')
    li.stream__item
        img.stream__item--img(src='images/stream_photo.jpg')
    li.stream__item
        img.stream__item--img(src='images/stream_photo.jpg')
    li.stream__item
        img.stream__item--img(src='images/stream_photo.jpg')
    li.stream__item
        img.stream__item--img(src='images/stream_photo.jpg')
    li.stream__item
        img.stream__item--img(src='images/stream_photo.jpg')
    li.stream__item
        img.stream__item--img(src='images/stream_photo.jpg')
    li.stream__item
        img.stream__item--img(src='images/stream_photo.jpg')
    li.stream__item
        img.stream__item--img(src='images/stream_photo.jpg')