head
     meta(charset="UTF-8")
     meta(http-equiv="X-UA-Compatible", content="IE=edge")
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     title Cats Stream
     link(rel="stylesheet", href="css/normalize.css")
     link(rel="stylesheet", href="css/styles.css")
     script(src="https://kit.fontawesome.com/f982123842.js" crossorigin="anonymous")